__pycache__/
*.py[cod]
*$py.class
venv/
.env

debian/word-sys-pdf-editor/
debian/*.log
debian/*.substvars
debian/files
debian/debhelper-build-stamp
.pc/
obj-*/
*.deb
*.dsc
*.tar.gz
*.tar.xz
*.buildinfo
*.changes

.vscode/
.idea/
