Package: pardus-pdf-editor
Version: 0.1.0-1
Architecture: all
Maintainer: Barın Güzeldemirci <baringuzeldemir@gmail.com>
Installed-Size: 155
Depends: python3-gi, python3-gi-cairo, gir1.2-gtk-4.0, gir1.2-adw-1, python3-numpy, python3-fitz
Recommends: ttf-dejavu-core | fonts-noto-core | fonts-liberation2, libreoffice-common
Section: graphics
Priority: optional
Homepage: <https://word-sys.github.io/pardfweb/>
Description: Simple PDF Text Editor for Pardus
 Pardus PDF Editor allows users to open PDF files, view pages, select
 existing text blocks, modify or delete them, and add new text blocks.
 It focuses on simple text content manipulation rather than full PDF
 annotation or structural changes. It can also export to DOCX (requires
 LibreOffice) and TXT formats.
