[Desktop Entry]
Version=1.0
Type=Application
Name=FOSPX PDF Editor
Comment=Edit text content in PDF files
Exec=fospx-pdf-editor %F
Icon=f-pv1
Terminal=false
Categories=Office;Graphics;GTK;
Keywords=PDF;Editor;Text;FOSPX;
MimeType=application/pdf;
StartupNotify=true
