#!/usr/bin/make -f

PKGDDIR=debian/word-sys-pdf-editor
INSTALL_DIR=$(PKGDDIR)/opt/word-sys-pdf-editor
BIN_DIR=$(PKGDDIR)/usr/bin

ICON_NAME=f-pv1
ICON_SOURCE_PATH=word_sys_pdf_editor/img/f-pv1.svg
ICON_SIZE_DIR=scalable
ICON_INSTALL_DIR=$(PKGDDIR)/usr/share/icons/hicolor/$(ICON_SIZE_DIR)/apps

%:
	dh $@

override_dh_auto_build:
	python3 -m venv --system-site-packages .build_venv
	.build_venv/bin/pip install --upgrade pip
	.build_venv/bin/pip install pyinstaller pymupdf numpy
	.build_venv/bin/pyinstaller --name pardf --onedir \
		--add-data "word_sys_pdf_editor/img:word_sys_pdf_editor/img" \
		--hidden-import gi.repository.Gtk \
		--hidden-import gi.repository.Gio \
		--hidden-import gi.repository.GLib \
		--hidden-import gi.repository.Adw \
		--hidden-import gi.repository.Gdk \
		--hidden-import gi.repository.GdkPixbuf \
		--hidden-import gi.repository.Pango \
		--hidden-import gi.repository.PangoCairo \
		--hidden-import cairo \
		run_pardf.py

override_dh_install:
	install -d $(INSTALL_DIR)
	cp -pr dist/pardf/* $(INSTALL_DIR)/
	
	install -d $(BIN_DIR)
	# Create wrapper script
	echo '#!/bin/sh' > $(BIN_DIR)/word-sys-pdf-editor
	echo 'exec /opt/word-sys-pdf-editor/pardf "$$@"' >> $(BIN_DIR)/word-sys-pdf-editor
	chmod 755 $(BIN_DIR)/word-sys-pdf-editor
	
	install -d $(PKGDDIR)/usr/share/applications
	install -m 644 debian/word-sys-pdf-editor.desktop $(PKGDDIR)/usr/share/applications/
	
	install -d $(ICON_INSTALL_DIR)
	install -m 644 $(ICON_SOURCE_PATH) $(ICON_INSTALL_DIR)/$(ICON_NAME).svg

override_dh_auto_clean:
	dh_auto_clean
	rm -rf .build_venv build dist pardf.spec __pycache__

